[Unit]
Description=Freqtrade Bot
After=network.target

[Service]
ExecStart=/usr/local/bin/freqtrade trade -v --log-file /mnt/disks/deeplearning/var/log/apt/freqtrade.log
Restart=always
User=root
WorkingDirectory=/mnt/disks/deeplearning/home/runner

[Install]
WantedBy=multi-user.target
