# Folder config file
Desktop.ini

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.sys
*.vhd

# Windows shortcuts
*.lnk

# jekyll
#.jekyll-metadata
#_site
#.sass-cache
#.jekyll-cache


# bundler
*.gem
Gemfile.lock


# python
*.whl


# npm
node_modules
package-lock.json


# lighthouse
*.report.html


# action
action.changelog.md


# _sass
_sass/@primer/css/**/*.md


workdir/
