algorithms
beautifulsoup4
fake_useragent
flavio[sampling,plotting]
imageio
keras
lxml
iree-compiler
iree-runtime
iree-tools-tf
matplotlib
numpy
opencv-python
pandas
pillow
# projectq  # uncomment once quantum/quantum_random.py is fixed
psycopg2
qiskit
qiskit-aer
requests
rich
robyn
# scikit-fuzzy  # uncomment once fuzzy_logic/fuzzy_operations.py is fixed
scikit-learn
statsmodels
sympy
tensorflow
tweepy
# yulewalker  # uncomment once audio_filters/equal_loudness_filter.py is fixed
typing_extensions
xgboost
