# IREE Python API
# Use nightly releases instead of PyPi
-f https://iree.dev/pip-release-links.html
--extra-index-url https://iree.dev/pypi/simple/

iree-base-compiler
iree-base-runtime
iree-tools-tf
#iree-compiler
#iree-runtime
#iree-tools-tflite
#iree-tools-xla

# TensorFlow and JAX.
#torch
jax[cpu]
#tensorflow
tensorflow-cpu
#gin-config
#tf-nightly
#tf-models-nightly
#tensorflow-text-nightly
#transformers

# tflitehub dependencies.
Pillow

# Testing and support.
lit
pyyaml
